.LawCard{
    height: 429px;
    width: 430px;
    padding: 55px 50px;
    background: #1F2732;
    ;
}

.LawCard h1{
    font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 56px;
/* identical to box height, or 160% */

letter-spacing: 0.4px;

color: #FFFFFF;

}

.LawCard p{
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* or 160% */

letter-spacing: 0.4px;

color: #D7D7D7;
border-bottom: 1px solid #4E555F;;
padding-bottom: 28.3px;
}

.LawCard div{
    margin-top: 56.7px;
}

.LawCard div a{
    text-decoration: none;
    width: 167px;
    height: 58px;
    padding: 13px 42px;
    background: #161D27;
}