.laws{
    padding: 130px 0;
}
.explore{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    flex-direction: column;
}

.left h1{
    display: flex;
    max-width: 365px;
    font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 58px;
letter-spacing: 0.4px;
text-transform: capitalize;

color: #FFF;

}

.explore p{
    width: 660px;
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* or 160% */

letter-spacing: 0.4px;

color: #D7D7D7;
}

.cards-section{
    margin-top: 60px;
    display: flex;
    
}

/* 
@media (max-width:987px){
    .laws{
        padding: 40px;
    }
    
} */

/* .main-law {
    display: flex;

} */
.col-lg-4{
    padding: 0;
}
.card{
    width: 410px;
    height: 400px;
    background: #1F2732 !important;
    /* display: inline !important; */
}


.card-main{
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.card-top , .card-bottom {
    margin-top: 10px;
    padding: 0;
}

/* .card-top{
    display: flex;
} */

.btn{
    background: #161D27;
    padding: 13px 42px;
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */

letter-spacing: 0.4px;
text-transform: capitalize;

color: #FFF;

}
.btn:hover{
    color: #fff;
}
.card-text{
    width: 326px;
    margin: 8px 0 55px;
    padding-bottom: 28px;
    border-bottom: 1px solid #4E555F;;
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;

letter-spacing: 0.4px;

color: #D7D7D7;
}

.card-title{
    font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 56px;
/* identical to box height, or 160% */

letter-spacing: 0.4px;

color: #FFF;
}

.card-body {
    display: inline !important;
    background: #1F2732;
    padding: 55px 54px 70px 50px;
}

.card-body div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}