.form {
  padding: 8.75rem 2.5rem;
  background-image: url("https://res.cloudinary.com/dg9gujywv/image/upload/v1676799454/IMAGE_y7amwe.png");
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1f2732;
  padding: 5.5625rem 6.25rem;
}

form div {
  display: flex;
  margin-bottom: 2.375rem;
  justify-self: flex-start;
}

.inputbox {
  position: relative;
  max-width: 34.8rem;
  min-width: 14.375rem;
  margin-right: 2.875rem;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: #d1b06b;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 44px;
}

.button2 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 22px;

  letter-spacing: 0.4px;

  color: #3b434e;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 30px;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
}

.button2:active {
  color: #666;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #d1b06b;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #d1b06b;
}

.button2:hover:before {
  top: -35%;
  background-color: #d1b06b;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #d1b06b;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

@media (max-width: 645px) {
  form div {
    flex-direction: column;
  }
}
