@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700&display=swap');
body{
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 9px 0;
}

.mine{
    max-width: 350px;
    max-height: 85px;
    padding: 24px 71px 14px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.mine p{
    font-family: 'Outfit', sans-serif;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 35px;
text-align: center;
letter-spacing: 0.4px;

color: #FFFFFF;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #4E555F;;    
    border-bottom: 1px solid #4E555F;;    
}

.nav-links{
    display: flex;
    justify-content: space-around;

}

.nav-links a{
    text-decoration: none;
    color: #fff;
    margin-right: 50px;

    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 35px;
/* identical to box height, or 160% */

letter-spacing: 0.4px;

}
.contact{
    display: flex;
    padding: 32.5px 0;
}


.contact p{
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 29px;
/* margin-bottom: 0; */
/* identical to box height, or 160% */

letter-spacing: 0.4px;

color: #D1B06B;
}
.contact div{
    display: flex;
    margin-left: 50px;
    max-width: 271px;
    max-height: 62px;
}

.contact div div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 12px;
}

.contact a{
    text-decoration: none;
    color: #fff;
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.4px;



}

@media (max-width:935px) {
    .contact{
        flex-direction: column;
    }
    .contact div{
        margin-top: 30px;
    }
    
}

@media (max-width:996px) {
    .mine{
        margin: 40px 0;
    }

    .App{
        padding: 0;
    }
}