@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container{
  background-color: transparent;
}
/* .container{
position: fixed;
background: #161d27;
width: 100vw;
z-index: 5;
border-radius: 0 0 60px 60px;
} */
.logo {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 9px 0;
}

.logo a img {
  max-width: 400px;
}
.mine {
  max-width: 350px;
  max-height: 85px;
  padding: 24px 71px 14px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.mine p {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.4px;

  color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  border-top: 1px solid #4e555f;
  border-bottom: 1px solid #4e555f;
}

.nav-links{
    display: flex;
    align-items: center;

}

/* .nav-links a{
    text-decoration: none;
    color: #fff;
    margin-right: 50px;

    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 35px;
letter-spacing: 0.4px;

} */

:is(.phone, .mail) a {
  width: 62px;
  height: 62px;
}

.contact {
  display: flex;
  padding: 32.5px 0;
  justify-content: center;
}

.contact p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.4px;
  color: #d1b06b;
}

.contact div {
  display: flex;

  max-width: 271px;
  /* max-height: 62px; */
}
.mail{
  margin-left: 50px;
}
/* @media (max-width:990px) {
  
  .phone , .mail{
    margin: 0;
  }
} */
@media (max-width:770px) {
  nav{
    align-items: flex-start;
    flex-direction: column;
  }.contact{
    flex-direction: column;
  }
  .mail{
    margin: 0;
  }
}

.contact div a {
  border-radius: 90px;
}

.contact div div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 12px;
}

.contact a {
  text-decoration: none;
  color: #fff;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  /* overflow: hidden; */
}

.menu li a {
  text-decoration: none;
}

.hvreffct {
  background: transparent;
  border: none;
  position: relative;
  transition: .5s ease;
}

.hvreffct::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: .5s ease;
}

.hvreffct:hover {
  color: #2e2e3a;
  transition-delay: .5s;
}

.hvreffct:hover::before {
  width: 100%;
}

.hvreffct::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: .4s ease;
  z-index: -1;
}

.hvreffct:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.glass {
  position: relative;

  text-decoration: none;
  overflow: hidden;

  box-shadow: 0 5px 5px rgba(0, 0, 0.2);
}
.glass:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.glass:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
  transition-delay: 0.5s;
}
.glass:hover:after {
  left: 100%;
}
.glass span {
  position: absolute;
  display: block;
  transition: 0.5s ease;
}
.glass span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.glass:hover span:nth-child(1) {
  width: 100%;
  transform: translateX(100%);
}
.glass span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.glass:hover span:nth-child(3) {
  width: 100%;
  transform: translateX(-100%);
}
.glass span:nth-child(2) {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #fff;
}
.glass:hover span:nth-child(2) {
  height: 100%;
  transform: translateY(100%);
}
.glass span:nth-child(4) {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #fff;
}
.glass:hover span:nth-child(4) {
  height: 100%;
  transform: translateY(-100%);
}

@media (max-width: 991px) {
  .mine {
    margin: 20px 0;
    justify-self: center;
  }
  .logo {
    justify-content: center;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .mine {
    margin-left: 350px;
  }
}

@media (max-width: 444px) {
  .logo a img {
    width: 300px;
  }
  .mine {
    width: 300px;
  }
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav__link {
  color: #ddd;
}

.toggler__icon {
  cursor: pointer;
  display: none;
}

.toggler__icon div {
  width: 25px;
  height: 2px;
  background: #ddd;
  margin: 5px 0px;
  transition: 0.3s ease;
}

@media screen and (max-width: 1199px) {
  .toggler__icon {
    display: block;
  }
  .nav__menu {
    z-index: 10000;
    position: fixed;
    background: #d1b06b;
    flex-direction: column;
    top: 0vh;
    width: 50%;
    height: 100vh;
    right: 0;
    transform: translateX(100%);
    transition: 0.5s ease;
  }
}

.nav__collapse {
  transform: translateX(0%);
}

/* Toggle Icon Animation */
.toggle .line__1 {
  transform: translate(-5px, 7px) rotate(-45deg);
}
.toggle .line__2 {
  opacity: 0;
}
.toggle .line__3 {
  transform: translate(-5px, -7px) rotate(45deg);
}
