@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Outfit:wght@100;300;400;500;700&display=swap");
.Introduction {
  display: flex;
  background-color: #161d27;
  padding: 0 40px;
  /* padding-top: 300px; */
  /* overflow-x: hidden; */
}
.left-side {
  padding-top: 129px;
}
.left-side h1 {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 78px;
  letter-spacing: 0.4px;

  color: #ffffff;
  margin-top: 14px;
  margin-bottom: 21px;
}

.left-side p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;

  letter-spacing: 0.4px;

  color: #d1b06b;
}

.left-side a {
  text-decoration: none;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.4px;

  color: #1f2732;

  padding: 25px 71px 24px;
  justify-content: center;
  display: flex;
  width: 269px;
  background: #d1b06b;
  border: 1px solid #d1b06b;
}

.lawyer {
  max-width: 672px;
  margin-top: 19px;
}

/* .right-side img{
    max-width: 672px;
    max-height: 708px;
}
 */
/* .right-side{
    margin-top: 19px;
}  */

@media (max-width: 768px) {
  .lawyer {
    display: none;
  }
}
@media (max-width:480px) {
    .left-side h1{
      font-size: 45px;
    }
}
@media (max-width: 1417px) {
  .Introduction {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 30px;
  }
}
