@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Outfit:wght@100;300;400;500;700&display=swap");
.Introduction {
  display: flex;
  background-color: transparent;
  padding: 0 2.5rem;
}
.left-side {
  padding-top: 8.06rem;
}
.left-side h1 {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 78px;
  letter-spacing: 0.4px;
  color: #ffffff;

  margin: 14px 0 21px;
}

.left-side p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.4px;

  color: #d1b06b;
}

.left-side a {
  text-decoration: none;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.4px;

  color: #1f2732;

  padding: 1.5625rem 4.4375rem 1.5rem;
  justify-content: center;
  display: flex;
  width: 269px;
  background: #d1b06b;
  border: 1px solid #d1b06b;
}

.lawyer {
  max-width: 42rem;
  margin-top: 1.1875rem;
}

@media (max-width: 768px) {
  .lawyer {
    display: none;
  }
}
@media (max-width: 480px) {
  .left-side h1 {
    font-size: 45px;
  }
}
@media (max-width: 1417px) {
  .Introduction {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 30px;
  }
}
