.History{
    display: flex;
    margin: 0 -40px;
    padding: 140px 40px;
    background-image: url(https://res.cloudinary.com/dg9gujywv/image/upload/v1676678845/IMAGE_wc2bve.png);
}

.transparent{
    background-color: rgba(31, 39, 50, 0.85);
    z-index: 2;
    padding: 90px 60px 70px ;
    display: flex;
}

.left h1{
    font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 58px;
letter-spacing: 0.4px;
text-transform: capitalize;

color: #FFFFFF;

}
.left{
    display: flex;
    flex-direction: column;
    max-width: 414px;
}
.left div{
    display: flex;
    flex-direction: column;

}
.left div div{
    margin-bottom: 32px;
}
.left div div p{
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
letter-spacing: 0.4px;

color: #D7D7D7;
}
.left img{
    width: 95px;
    height: 44px;
    margin: 11px 0 50px;
}

.color{
    color: #D1B06B !important;

}

.middle {
    display:flex;
    padding-left:70px;
    padding-right: 105px;
}

.middle img{
    width: 264px;
    height: 900px;
}

.right h1{
    font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 58px;
letter-spacing: 0.4px;
text-transform: capitalize;
color: #FFF;
}
.right img{
    margin: 11px 0 43px;
}

.right div p{
    margin-bottom: 37px;
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: 0.4px;

color: #D7D7D7;
}

.percent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.progressbar{
    width: 383px;
}