.opinion {
  padding: 0 2.5rem 13.25rem;
}
.opinion h1 {
  margin-top: 7.75rem;
  justify-content: center;
  display: flex;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.4px;

  color: #ffffff;
}

.patter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.25rem;
}
